[mysqld]
rocksdb
default-storage-engine=rocksdb
skip-innodb
default-tmp-storage-engine=MyISAM

; TODO: confirm which char encoding we should be using for collation
collation-server=latin1_bin

log-bin
binlog-format=ROW


innodb_use_native_aio=0
